body{
  background: rgb(0,36,35);
background: linear-gradient(45deg, rgba(0,36,35,1) 0%, rgba(9,9,121,1) 30%, rgba(0,212,255,1) 100%);
   color:aquamarine;
   font-family: fantasy;
   height: 100%;
   text-shadow: 4px 4px 6px rgba(66, 68, 90, 1);
   
   
}
img{
    
    width:100%;
    height: 100%;
    object-fit:cover;
    border-radius: 5%;
    border: cornflowerblue
}
.grid-container{
display: grid;
grid-template-columns: 200px 200px 200px;
  grid-template-rows: 200px 200px 200px; 
  column-gap: 3px;
  row-gap: 3px;
  align-items: center;
  justify-content: center;
}
  

.grid-item1{
  object-fit: cover;
  width: 100%;
  height: 100%;
  
}
.grid-item2{
  object-fit: cover;
  width: 100%;
  height: 100%;
  
  

}
.grid-item3{
  object-fit: cover;
  width: 100%;
  height: 100%;
  
}
.grid-item3{
  object-fit: cover;
  width: 100%;
  height: 100%;
  
}
.grid-item4{
  object-fit: cover;
  width: 100%;
  height: 100%;
  
}
.grid-item5{
  object-fit: cover;
  width: 100%;
  height: 100%;
  background-color: black;
  
}
.grid-item6{
  object-fit: cover;
  width: 100%;
  height: 100%;
  
}
.grid-item7{
  object-fit: cover;
  width: 100%;
  height: 100%;
  
}

.grid-item8{
  object-fit: cover;
  width: 100%;
  height: 100%;
  
}
.grid-item9{
  object-fit: cover;
  width: 100%;
  height: 100%;
  
}


.dolnynapis{
  font-size: 50px;
  font-family: fantasy;
  text-decoration: underline;
  text-underline-offset: 2px;
  text-shadow: 5px 5px rgb(255, 0, 255);
}
.podpis{
 font-size: 100px;
  font-family: fantasy;
  text-decoration: underline;
  text-underline-offset: 2px;
  text-shadow: 5px 5px rgb(255, 0, 255);
}
.napis{
  font-size: 50px;
}

.grid-container2 {
  display: grid;
grid-template-columns: 400px 400px 400px;
row-gap: 3px;
column-gap: 10px;
justify-content: center;
  
  }
.item1{
background-color: red;
font-size: 50px;
}
.item2{
background-color: red;
font-size: 50px;
}
.item3{
background-color: red;
font-size: 50px;
}
#menu {
	background: #0099CC;
	background: linear-gradient(to bottom,  #0099CC,  #57E9FF);
	color: #FFF;
	height: 55px;
	width: 100%;
	padding-left: -5px;
	border-radius: 0px;
	border: 4px ridge #0B006D;
	text-align: center;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  
}
#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none;
	
}
#menu ul {
	width: 100%;
  text-align: center;
}
#menu li {
	float: center;
	display: inline-block;
	position: relative;
}
#menu a {
	display: block;
	line-height: 47px;
	padding: 0 14px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 30px;
	
}
#menu a.dropdown-arrow:after {
	content: "\25BE";
	margin-left: 5px;
}
#menu li a:hover {
	color: #0099CC;
	background: #FFFFFF;
}
#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 55px;
	width: 100%;
	opacity: 0;
	cursor: pointer
}
#menu label {
	display: none;
	line-height: 47px;
	text-align: center;
	position: absolute;
	left: 35px;
}
#menu label:before {
	font-size: 1.6em;
	content: "\2261"; 
	margin-left: 20px;
}
#menu ul.sub-menus{
	height: auto;
	overflow: hidden;
	width: 170px;
	background: #444444;
	position: absolute;
	z-index: 99;
	display: none;
}
#menu ul.sub-menus li {
	display: block;
	width: 100%;
}
#menu ul.sub-menus a {
	color: #FFFFFF;
	font-size: 16px;
}
#menu li:hover ul.sub-menus {
	display: block
}
#menu ul.sub-menus a:hover{
	background: #F2F2F2;
	color: #444444;
}
@media screen and (max-width: 800px){
	#menu {position:relative}
	#menu ul {background:#111;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none}
	#menu ul.sub-menus {width:100%;position:static;}
	#menu ul.sub-menus a {padding-left:30px;}
	#menu li {display:block;float:none;width:auto;}
	#menu input, #menu label {position:absolute;top:0;left:0;display:block}
	#menu input {z-index:4}
	#menu input:checked + label {color:white}
	#menu input:checked + label:before {content:"\00d7"}
	#menu input:checked ~ ul {display:block}
}



@media screen and (max-width: 768px) {
	/* zmiany stylów dla urządzeń mobilnych */
	#menu ul {
	  flex-direction: column;
	  display: none;
	  position: absolute;
	  top: 3.5rem;
	  background-color: #f9f9f9;
	  width: 100%;
	  margin: 0;
	  padding: 0;
	  z-index: 1;
	}
  
	#menu ul li {
	  display: block;
	  text-align: center;
	  border-bottom: 1px solid #ddd;
	}
  
	#menu ul li a {
	  display: block;
	  padding: 1rem;
	  text-decoration: none;
	  color: #333;
	}
  
	#responsive-menu:checked ~ ul {
	  display: block;
	}
  
	.grid-container {
	  display: grid;
	  grid-template-columns: repeat(2, 1fr);
	  grid-gap: 10px;
	  margin: 0;
	}
  
	.grid-item1, .grid-item2, .grid-item3, .grid-item4, .grid-item5, .grid-item6, .grid-item7, .grid-item8, .grid-item9 {
	  width: 100%;
	}
  
	.napis {
	  font-size: 2rem;
	  margin-top: 2rem;
	}
  
	.podpis {
	  font-size: 2rem;
	}
  }
  .srodek{
	font-size: 50px;
	color:white;
  } 
  






